{% block subject %} {{code}} is your instagram code{% endblock %}
{% block html_body %}
<div style="margin:0;padding:0" dir="ltr" bgcolor="#ffffff">
    <table border="0" cellspacing="0" cellpadding="0" align="center" id="m_2191261825385379763email_table"
        style="border-collapse:collapse">
        <tbody>
            <tr>
                <td id="m_2191261825385379763email_content"
                    style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
                    <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="1" colspan="3" style="line-height:1px"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                        style="border-collapse:collapse;text-align:center;width:100%">
                                        <tbody>
                                            <tr>
                                                <td width="15px" style="width:15px"></td>
                                                <td style="line-height:0px;max-width:600px;padding:0 0 15px 0">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td style="width:100%;text-align:left;height:33px"><img
                                                                        height="33"
                                                                        src="https://ci3.googleusercontent.com/meips/ADKq_NZOuwWow1hequUmkYlojOB8b7wBf6eSVAJaMxSRSRbOK-m43XIVYFgsxdp06-1V6TG1kn-vCSX0fIByOKeu2ekAw5B_GWA6pO79NqE0KGuXp7w=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/Otjcwa2eCOF.png"
                                                                        style="border:0" class="CToWUd" data-bit="iit">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="15px" style="width:15px"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" width="430" cellspacing="0" cellpadding="0"
                                        style="border-collapse:collapse;margin:0 auto 0 auto">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table border="0" width="430px" cellspacing="0" cellpadding="0"
                                                        style="border-collapse:collapse;margin:0 auto 0 auto;width:430px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="15" style="display:block;width:15px">
                                                                    &nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="12" style="display:block;width:12px">
                                                                    &nbsp;&nbsp;&nbsp;</td>
                                                                <td>
                                                                    <table border="0" width="100%" cellspacing="0"
                                                                        cellpadding="0"
                                                                        style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td
                                                                                    style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                                                                                    <p
                                                                                        style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                                                                                        Hi,</p>
                                                                                    <p
                                                                                        style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                                                                                        Someone tried to sign up for an
                                                                                        Instagram account with <a
                                                                                            href="mailto:" + {{email}}
                                                                                            target="_blank"
                                                                                            jslog="32272; 1:WyIjdGhyZWFkLWY6MTc5MjQ4ODIzMzE1MjE5MTEyNSJd; 4:WyIjbXNnLWY6MTc5MjQ4ODIzMzE1MjE5MTEyNSJd">{{email}}</a>.
                                                                                        If it was you, enter this
                                                                                        confirmation code in the app:
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td
                                                                                    style="padding:10px;color:#565a5c;font-size:32px;font-weight:500;text-align:center;padding-bottom:25px">
                                                                                    {{code}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0"
                                        style="border-collapse:collapse;margin:0 auto 0 auto;width:100%;max-width:600px">
                                        <tbody>
                                            <tr>
                                                <td height="4" style="line-height:4px" colspan="3">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="15px" style="width:15px"></td>
                                                <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                                                <td style="text-align:center">
                                                    <div style="padding-top:10px;display:flex">
                                                        <div style="margin:auto"><img
                                                                src="https://ci3.googleusercontent.com/meips/ADKq_NZ2ivJHkv1KH9YS4Yecj8l99ueLszgAkXVAp0N50dD4Ymu0h1h6mxYcBJPC_sK-e9dLWuH1g-vgF844MKpudUUCekQ6pdY1QLsHcrt36zAkxpk=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/Bqo9-L659wB.png"
                                                                height="26" width="52" alt="" class="CToWUd"
                                                                data-bit="iit"></div><br>
                                                    </div>
                                                    <div style="height:10px"></div>
                                                    <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">©
                                                        Instagram. Meta Platforms, Inc., 1601 Willow Road, Menlo Park,
                                                        CA 94025<br></div>
                                                    <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">
                                                        This message was sent to <a
                                                            style="color:#abadae;text-decoration:underline">mehabawyohanse793@gmail.com</a>.<br>
                                                    </div>
                                                </td>
                                                <td width="20" style="display:block;width:20px">&nbsp;&nbsp;&nbsp;</td>
                                                <td width="15px" style="width:15px"></td>
                                            </tr>
                                            <tr>
                                                <td height="32" style="line-height:32px" colspan="3">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table><span><img
                            src="https://ci3.googleusercontent.com/meips/ADKq_NaYU6amOW31QVKGzSX92e0DGwInHATrP43BBnCz67bTXU7IG7YGhzw0kAY3cw2emCFQkWsB3KiNQLP7S04sXgt527Bzzzd-boCq2J-EwZm3IqY_wZfo8abbNs6P9ksf282COaB0Ugso5H3JUUJ8qg6ixt-w2AHkoQ=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=612bc0dc59d07G24bc2cdafa4000G612bc575b9fdaG37f"
                            style="border:0;width:1px;height:1px" class="CToWUd" data-bit="iit"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}